.menu-bars {
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-menu {
    background-color: black;
    width: 270px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: -100%;
    transition: 800ms;
    font-size: 24px;
}

.nav-menu.active {
    left: 0px;
    transition: 300ms;
}

.btn {
    display: flex;
    justify-items: flex-start!important;
    align-items: flex-start!important;
}

.icon {
    font-size: 32px!important;
    margin-right: 10px;
}

li a {
    text-decoration: none;
}

.title {
    margin-top: 5px;
    font-size: 22px!important;
    text-align: left;
    text-decoration: none;
}
