.dash {
    display: flex;
    flex-direction: row;
}
.nav {
    display: flex;
    height: 100vh;
    background-color: black;
    width: 56px;
    font-size: 32px;
}

.nav a {
    color: #fff;
}

.wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
}

.box-3 {
    width: calc(100% / 3 - 20px);
    box-sizing: border-box;
    margin: 10px;
    float: left;
}