.serviceDiv.visible, .calendarDiv.visible, .bookingDiv.visible, .timesDiv.visible {
    display: block;
}

.serviceDiv, .calendarDiv, .bookingDiv, .timesDiv {
    display: none;
}

.half {
    float: left;
    width: 50%;
}



.wrapper {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 75px;
    width: 100%;
}

.box-2 {
    width: calc(100% / 2 - 20px);
    box-sizing: border-box;
    margin: 10px;
    float: left;
}
